<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置别名
    typeAliases和environments是平等级别的标签
        type是实体类的完整类名
        alias是类的别名
    -->
    <typeAliases>
        <typeAlias type="com.wondersgroup.api.entity.User" alias="User"/>

    </typeAliases>


</configuration>
